Dear Customer,

Thank you for choosing Dream Hotel for your stay. We’re delighted to confirm your room booking and are committed to making your visit comfortable and memorable.

Here are your booking details for your reference:

Booking ID: {{Booking.id}}
Check-in Date: {{Booking.check_in_date}}
Check-out Date: {{Booking.check_out_date}}
Room Type: {{Booking.room.title}}
If you have any special requests or need assistance, please don’t hesitate to contact us.

We look forward to welcoming you soon!

Warm regards,